body {
  box-sizing: border-box;
}

#wrapper {
  width: 50%;
  margin: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: red;
  color: white;
  font-size: large;
  padding: 2px;
  margin: 0;
  border: 1px solid black;
}

#menu {
  padding: 2px;
  margin: 0px;
  background-color: violet;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
}

#menu ul {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

#menu ul li {
  padding: 2px;
  margin: 0;
}

#menu ul li a {
  color: white;
  text-decoration: none;
}

#menu ul li a:hover {
  color: black;
  background-color: blueviolet;
}

#content-container {
  display: flex;
}

#content {
  /* Additional styles for the content */
  flex: 1;
}

#sidebar {
  /* Additional styles for the sidebar */
  flex: 0 0 30%; /* Adjust the width as needed */
}
